body  {
	margin: 0;
	padding: 0;
}
#container  {
	margin: 0;
	width: 100%;
	background: #fff;
}
div.logo{
  height: 250px;
  background-color: red;
  border-color: red;
  padding-right: 50px;
  position:relative;
}
div.logo img.filme {
  display: block;
	width: 45%;
	height: 90px;
  margin-left: auto;
  margin-right: auto;
}
div.logo img.cine {
  display: block;
  top:20%;
  left:15%;
  position: relative;
}

div.logo input{
  border-color: red;
  color:white;
  width:360px;
  height:20px;
  left:45em;
  position:absolute;
}
div.logo button.lupa {
  background-image: url("lupa.png");
  border-color: red;
  position:absolute;
  width:25px;
  height:26px;
  left: 70.5em;
}
div.logo button.contato {
  background-color: orange;
  border-color: orange;
  color:white;  font-family:monospace;
  position:absolute;
  width:150px;
  height:26px;
  left: 80em;
}
div.logo button.celular {
  background-image: url("celular.png");
  border-color: orange;
  position:absolute;
  width:32px;
  height:32px;
  left:92em;
}
div.menus_topo{
  position: absolute;
  top:72%;
}
div.logo button.menu1 {
  color:white;
  background-color: red;
  border-style: none;
  font-family:monospace;
  left: 34em;
  position:absolute;
}
div.logo button.menu2 {
  color:white;
  background-color: red;
  border-style: none;
  font-family: monospace;
  left:41em;
  position:absolute;
}
div.logo button.menu3 {
  color:white;
  background-color: red;
  border-style: none;
  font-family: monospace;
  width: 160px;
  left:48em;
  position:absolute;
}
div.logo button.menu4 {
  color:white;
  background-color: red;
  border-style: none;
  font-family: monospace;
  left:59em;
  position:absolute;
}
div.logo button.menu5 {
  color:white;
  background-color: red;
  border-style: none;
  font-family: monospace;
  left:66em;
  position:absolute;

}
div.logo button.menu6 {
  color:white;
  background-color: red;
  border-style: none;
  font-family: monospace;
  left:72em;
  position:absolute;

}
div.logo button.menu7 {
  color:white;
  background-color: red;
  border-style: none;
  font-family: monospace;
  width: 130px;
  left:76.5em;
  position:absolute;
}
div.logo button.menu8 {
  color:white;
  background-color: red;
  border-style: none;
  font-family: monospace;
  left:86em;
  position:absolute;
}
div.meio{
	position: absolute;
  width:100%;
  background-color: blue;
  height:42px;
  margin-top:0;
}
div.meio h4{
  background-color: blue;
  font-family: monospace;
  position:absolute;
  color:white;
  left:15%;
}
div.meio button.h51 {
  background-color: blue;
  border-style: none;
  font-family: arial, helvetica, sans-serif;
  position:absolute;
  color:white;
  top:27%;
	left:42em;
  height:22px;
}
div.meio button.h52 {
  background-color: blue;
  border-style: none;
	top:27%;
  font-family: arial, helvetica, sans-serif;
  position:absolute;
  color:white;
  height:22px;
  left:61em;
}
div.meio button.escolha {
  background-color: yellow;
  border-style: none;
  font-family: arial, helvetica, sans-serif;
  position:absolute;
  color:white;
	top:27%;
  height:22px;
  left:78em;
}
div.titulo1{
	position: absolute;
  background-color: white;
  width:100%;
	top:20em;
  height:30px;
}
div.titulo {
  font-family: arial, helvetica, sans-serif;
  position:relative;
	width: 50%;
  height: 22px;
  left:15%;
}
div.link{
  position:absolute;
  background-color: white;
  width:80%;
  height:80px;
	top:60px;
	left:15%;
}
div.link a.link1 {
  color:grey;
  position:absolute;
	float: left;
}
div.link a.link2 {
  color:grey;
  position:absolute;
	left:4em;
	float: left;
}
div.link p.p1{
  position:absolute;
  color:black;
  top:-20%;
  left:17em;
	float: left;
}
div.link p.parag{
  position:absolute;
  color:grey;
	float: left;
}
div.link p.black{
  position:absolute;
  color:black;
  left:8em;
	float:left;
}
div.menu {
  background-color: white;
  position: absolute;
  top:28em;
  width:80%;
  height:40px;
	left:15%;
	float:left;
}
div.menu button.programacao {
  position:absolute;
  background-color: grey;
  color:white;
  width:200px;
  height:30px;
}
div.menu button.precos {
  position:absolute;
  background-color: grey;
  color:white;
  width:200px;
  width:200px;
  height:30px;
  left:14.5em;
}
div.menu button.promocao {
  position:absolute;
  background-color: grey;
  color:white;
  width:200px;
  height:30px;
  left:29em;
}
div.menu button.localizacao {
  position:absolute;
  background-color: grey;
  color:white;
  width:200px;
  height:30px;
  left:44em;
}
div.opcoes{
  position:absolute;
  background-color: white;
  top:30em;
  width:85%;
  height:250px;
	left: 15%;
}
div.opcoes button.autopsia{
  position:absolute;
  background-color:white;
  color:white;
  width:70em;
  height:50px;
}
div.opcoes button.autopsia div{
  position:absolute;
  color:grey;
  top:28%;
  left:1%;
}
div.opcoes button.autopsia div.filme1{
  position:absolute;
  color:grey;
  top:26%;
  left:40%;
}
div.opcoes button.autopsia div.leng1{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:10%;
  left:55%;
}
div.opcoes button.autopsia div.leng1 p{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:28%;
}
div.opcoes button.autopsia div.sala1{
  position:absolute;
  font-family: cursive;
  color:grey;
  left:70%;
  top:13%;
}
div.opcoes button.autopsia div.sala1 p.hr1{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:-45%;
  left:115%
}
div.opcoes button.autopsia div.sala1 p.sala11{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:0%;
}
div.opcoes button.autopsia div.sala1 p.hr11{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:120%;
}









div.opcoes button.cabana{
  position:absolute;
  background-color:white;
  color:white;
  width:70em;
  height:50px;
  top:20%;
}
div.opcoes button.cabana div{
  position:absolute;
  color:grey;
  left: 1%;
}
div.opcoes button.cabana div.filme2{
  position:absolute;
  color:grey;
  top:26%;
  left:40%;
}
div.opcoes button.cabana div.leng2{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:20%;
  left:55%;
}
div.opcoes button.cabana div.leng2 p{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:26%;
}
div.opcoes button.cabana div.sala2{
  position:absolute;
  font-family: cursive;
  color:grey;
  left:70%;
  top:26%;
}

div.opcoes button.cabana div.sala2 p.hr2{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:-70%;
  left:115%
}
div.opcoes button.autopsia div.sala2 p.sala22{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:0%;
}
div.opcoes button.autopsia div.sala2 p.hr22{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:120%;
}








div.opcoes button.alien{
  position:absolute;
  background-color:white;
  color:white;
  width:70em;
  height:50px;
  top:40%;
}
div.opcoes button.alien div{
  position:absolute;
  color:grey;
  top:38%;
  left:1%;
}
div.opcoes button.alien div.filme3{
  position:absolute;
  color:grey;
  top:26%;
  left:40%;
}
div.opcoes button.alien img{
  position:absolute;
  color:grey;
  top:26%;
  left:90%;
}
div.opcoes button.alien div.leng3{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:10%;
  left:55%;
}
div.opcoes button.alien div.leng3 p{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:28%;
}
div.opcoes button.alien div.sala3{
  position:absolute;
  font-family: cursive;
  color:grey;
  left:70%;
  top:13%;
}
div.opcoes button.alien div.sala3 p.hr3{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:-45%;
  left:115%
}
div.opcoes button.alien div.sala3 p.sala33{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:0%;
}
div.opcoes button.alien div.sala3 p.hr33{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:120%;
}














div.opcoes button.guardioes{
  position:absolute;
  background-color:white;
  color:white;
  width:70em;
  height:50px;
  top:60%;
}
div.opcoes button.guardioes div{
  position:absolute;
  color:grey;
  top:38%;
  left:1%;
}
div.opcoes button.guardioes img{
  position:absolute;
  color:grey;
  top:26%;
  left:25%;
}
div.opcoes button.guardioes div.filme4{
  position:absolute;
  color:grey;
  top:26%;
  left:40.5%;
}
div.opcoes button.guardioes div.leng4{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:10%;
  left:55%;
}
div.opcoes button.guardioes div.leng4 p{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:28%;
}
div.opcoes button.guardioes div.sala4{
  position:absolute;
  font-family: cursive;
  color:grey;
  left:70%;
  top:13%;
}
div.opcoes button.guardioes div.sala4 p.hr4{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:-45%;
  left:115%
}
div.opcoes button.guardioes div.sala4 p.sala44{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:0%;
}
div.opcoes button.guardioes div.sala4 p.hr44{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:120%;
}











div.opcoes button.poderoso{
  position:absolute;
  background-color:white;
  color:white;
  width:70em;
  height:50px;
  top:80%;
}
div.opcoes button.poderoso div{
  position:absolute;
  color:grey;
  top:38%;
  left:1%;
}
div.opcoes button.poderoso div.filme5{
  position:absolute;
  color:grey;
  top:26%;
  left:40.5%;
}
div.opcoes button.poderoso div.leng5{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:10%;
  left:55%;
}
div.opcoes button.poderoso div.leng5 p{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:28%;
}
div.opcoes button.poderoso div.sala5{
  position:absolute;
  font-family: cursive;
  color:grey;
  left:70%;
  top:13%;
}
div.opcoes button.poderoso div.sala5 p.hr5{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:-45%;
  left:115%
}
div.opcoes button.poderoso div.sala5 p.sala55{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:0%;
}
div.opcoes button.poderoso div.sala5 p.hr55{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:5%;
  left:120%;
}








div.opcoes button.rock{
  position:absolute;
  background-color:white;
  color:white;
  width:70em;
  height:50px;
  top:100%;
}
div.opcoes button.rock div{
  position:absolute;
  color:grey;
  top:38%;
  left:1%;
}
div.opcoes button.rock div.filme6{
  position:absolute;
  color:grey;
  top:26%;
  left:40.5%;
}
div.opcoes button.rock div.leng6{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:10%;
  left:55%;
}
div.opcoes button.rock div.leng6 p{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:28%;
}
div.opcoes button.rock div.sala6{
  position:absolute;
  font-family: cursive;
  color:grey;
  left:70%;
  top:13%;
}
div.opcoes button.rock div.sala6 p.hr6{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:-70%;
  left:115%
}







div.opcoes button.velozes{
  position:absolute;
  background-color:white;
  color:white;
  width:70em;
  height:50px;
  top:120%;
}
div.opcoes button.velozes div{
  position:absolute;
  color:grey;
  top:38%;
  left:1%;
}
div.opcoes button.velozes img{
  position:absolute;
  color:grey;
  top:38%;
  left:25%;
}
div.opcoes button.velozes div.filme7{
  position:absolute;
  color:grey;
  top:26%;
  left:40.5%;
}
div.opcoes button.velozes div.leng7{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:10%;
  left:55%;
}
div.opcoes button.velozes div.leng7 p{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:28%;
}
div.opcoes button.velozes div.sala7{
  position:absolute;
  font-family: cursive;
  color:grey;
  left:70%;
  top:13%;
}
div.opcoes button.velozes div.sala7 p.hr7{
  position:absolute;
  font-family: cursive;
  color:grey;
  top:-70%;
  left:115%
}
